    <footer class="sticky-bottom mt-5">
      <div class="container site-footer__inner">
        <div class="site-footer__lead">
          <p class="site-footer__title">{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</p>
          <p class="site-footer__note">{{ site.description }}</p>
        </div>
        <div class="site-footer__meta">
          <p>&copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</p>
          <p>{{ site.footer_text }}</p>
          {%- if site.impressum_path -%}
          <p><a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a></p>
          {%- endif -%}
          {%- if site.last_updated -%}
          <p>Last updated {{ "now" | date: '%B %d, %Y' }}</p>
          {%- endif %}
        </div>
      </div>
    </footer>
