          <div class="news">
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
            {%- assign news = site.news | reverse -%}
            {% if include.limit and site.announcements.limit %}
            {% assign news_limit = site.announcements.limit %}
            {% else %}
            {% assign news_limit = news_size %}
            {% endif %}
            <div class="news-feed{% if include.limit and site.announcements.scrollable and news_size > 3 %} news-feed--scrollable{% endif %}">
              {% for item in news limit: news_limit %}
              <article class="news-item">
                <p class="news-item__date">{{ item.date | date: "%b %-d, %Y" }}</p>
                <div class="news-item__content">
                  {% if item.inline -%}
                    {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                  {%- else -%}
                    <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                  {%- endif %}
                </div>
              </article>
              {%- endfor %}
            </div>
          {%- else -%}
            <p>No news yet.</p>
          {%- endif %}
          </div>
