<ul class="cv-timeline">
  {% for content in entry.contents %}
    <li class="cv-timeline__item">
      <div class="cv-timeline__row">
        {% if content.year %}
          <div class="cv-timeline__date">
            <span class="cv-timeline__year">
              {{ content.year }}
            </span>
          </div>
        {% endif %}
        <div class="cv-timeline__body">
          {% if content.title %}
          <h3 class="cv-timeline__title">{{ content.title }}</h3>
          {% endif %}
          {% if content.institution %}
          <p class="cv-timeline__institution">{{ content.institution }}</p>
          {% endif %}
          {% if content.description %}
            <ul class="cv-items">
              {% for item in content.description %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="cv-subitems">
                    {% for subitem in item.contents %}
                      <li><span class="subitem">{{ subitem }}</span></li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if content.items %}
            <ul class="cv-items">
              {% for item in content.items %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="cv-subitems">
                    {% for subitem in item.contents %}
                      <li><span class="subitem">{{ subitem }}</span></li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
